body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: aqua;
}

.quem-somos{
    background-color: burlywood;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;

}

.parceiros{
    background-color: yellow;
}

.bg-footer{
    background-color: black;
    color: white;
}